/* regole generali */
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: sans-serif;
}

.clearfix::after {
	content: "";
	display: table;
	clear:both;
}
/* fine regole generali */


/* regole in comune dei contenitori */

.total-containers{
   /* debug */
   /* min-height: 400px; */
   /* debug */
}

.centratura{
   width: 65%;
   margin: 0 auto;
}

.lightgray{
   background-color: #f4f9fd;
}

.lightblue{
   /* debug */
   background-color: #00b9a9;
   /* debug */
}

.white{
   background-color: #ffffff;
}

.darkblue{
   background-color: #32495b;
}
.float{
   float: left;
}

.in{
   display: inline-block;
}

.pr{
   position: relative;
}
/* SETTAGGIO ICONCINE E SUBMIT */
.icons{
   margin-right: 10px;
   margin-left: 5px;
}

.ul-nav > a{
   text-decoration: none;
   color: black;
}

.ul-nav > .login > a {
   text-decoration: none;
   color: #ff7a59;
}

.ul-nav > a:hover{
   color: #00b9a9;
   text-decoration: underline;
   cursor: pointer;
}

.right-second-nav-container > .ul-nav > a > li {
   display:inline-block;
   padding: 20px 15px;
   font-size: 18px;
}


h1, p{
   color: #35485c;
}

h2{
   color: #35485c;
   margin: 0.5em 0;
   font-size: 35px;
}
h1{
   margin: 0.5em 0;
   font-size: 50px;
}

p {
    font-size: 1.125rem;
    line-height: 1.61111em;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1em;
}


.login:hover{
   opacity: 0.5;
}

/* gethubspot */
.gethubspotfree > a{
   text-decoration: none;
   color : white;
}

.gethubspotfree:hover{
   opacity: 0.5;
   transition: 0.3s ease-in-out;
}

.gethubspotfree-two > a{
   margin-top: 20px;
   text-align: center;
   border-radius: .1875rem;
   transition: 0.3s ease-in-out;
   display: inline-block;
   text-decoration: none;
   border: 0;
   font-weight: 600;
   line-height: 1.5em;
   background-color: #ff7a59;
   color: #fff;
   border: 1px solid #ff7a59;
   padding: 1.411em 2em;
   font-size: 1.0625rem;
   min-width: 7.277rem;
}

.gethubspotfree-two > a:hover{
   opacity: 0.5;
   transition: 0.3s ease-in-out;
}
/* gethubspot */

/* SETTAGGIO ICONCINE E SUBMIT */



/* annullamento bordi terzo blocco */

.border-right-bottom{
   border-right: 1px solid white;
   border-bottom: 1px solid white;
}
.border-left-bottom{
   border-left: 1px solid white;
   border-bottom: 1px solid white;

}

.border-bottom-left{
   border-bottom: none;
   border-left: none;
}
.border-bottom-right{
   border-bottom: none;
   border-right: none;
}

.border-central-bottom{
   border-bottom:1px solid white;
}
.border-right{
   border-right:1px solid white;
}


/* fine annullamento bordi terzo blocco */
/* fine regole in comune dei contenitori */






/* INIZIO PRIMO BLOCCO */

/* NAV PRIMO BLOCCO */
/* CONTAINER DELLA DOPPIA NAV */
.total-doublenav-container{
   background-color: #f4f9fd;
   height: 120px;

}
/* CONTAINER DELLA DOPPIA NAV */

/* first nav container */
.first-nav-container{
   height:50%;
}
.hr{
   border-bottom: 1px solid gray;
}
/* first nav container */


/* second nav container */
.second-nav-container{
   height: 50%;
   background-color: #ffffff;
}
/* second nav container */
/* NAV PRIMO BLOCCO*/


/* LEFT NAV PART */
/* INIZIO FIRST LEFT CONTAINER */
.container-first-right-first-nav-1{
   padding-right: 10px;
   border-right: 1px solid black;
}
/* FINE FIRST LEFT CONTAINER */

/* INIZIO SECOND LEFT CONTAINER */
.container-first-right-first-nav-2{
   width: auto;
   padding-left: 20px;
}
/* FINE SECOND LEFT CONTAINER */
/* LEFT NAV PART */


/* RIGHT NAV PART */

.login{
    text-align: center;
    border-radius: .1875rem;
    display: inline-block;
    border: 0;
    font-weight: 600;
    line-height: 1.5em;
    border: 1px solid #ff7a59;
    padding: 5px 7px;
    font-size: .9375rem;
    min-width: 4.555rem;
}


.gethubspotfree{
   min-width: auto;
   text-align: center;
   border-radius: .1875rem;
   display: inline-block;
   border: 0;
   font-weight: 600;
   line-height: 1.5em;
   border: 1px solid #ff7a59;
   background-color: #ff7a59;
   padding: 5px 15px;
   font-size: .9375rem;
   min-width: 4.555rem;
   margin-left: 15px;
}

/* RIGHT NAV PART */




/* INIZIO SECONDA NAV */

/* FINE SECONDA NAV */



/* first nav container */
.left-first-nav-container{
   float: left;
   padding-top: 20px;

}

.container-second-right-first-nav-1 {
   padding-top: 13px;
}

.ul-nav{
   display: inline-block;
}


.right-first-nav-container{
   float: right;
}
/* first nav container */






/* second nav container */
.left-second-nav-container{
   float: left;
   padding-top: 15px;
   /* debug */

   /* debug */
}

.right-second-nav-container{
   float: right;
}
/* second nav container */







/* SECONDA PARTE PRIMO BLOCCO */
/* total block container */
.total-block-thereis-container{
   /* debug */
   min-height:400px;
   background-image: url(../img/img/jumbotron.png);
   background-size: cover;
   background-position: right bottom;
   padding: 80px 0;
   /* debug */
}


/* total thereis container */
.total-thereis-container{

}
/* total thereis container */




/* thereis container */
.thereis-container{
   padding-top: 20px;
   float:left;
   margin-right: 200px;
   margin: 0 auto;
   width: 50%;
   height: 600px;
}
/* thereis container */

/* parte top */
/* parte top */

/* parte bottom */
.thereis-container-bottom{
   height: auto;
}
/* parte bottom */





/* SECONDA PARTE PRIMO BLOCCO */







/* FINE PRIMO BLOCCO */


/* ---------------------------------------------------- */








/* INIZIO SECONDO BLOCCO */
.powerful-total-container{
   width: 50%;
   /* debug */
   min-height: 200px;
   /* debug */
}






/* POWERFUL CONTAINER IMG */
.powerful-container-img{
   width: 230px;
   padding-top: 50px;
}

.powerful-total-container > h2{
   padding-left: 40px;
   padding-bottom: 30px;
}

/* POWERFUL CONTAINER IMG */

/* POWERFUL CONTAINER DESCRIZIONE */
.powerful-container-descr{

}

.powerful-container-descr > p {
   font-size: 18px;
   weight: 300;
   text-align: center;
}
/* POWERFUL CONTAINER DESCRIZIONE */







/* CONTAINER TOTALE BOX */
.total-container-box{
   margin-top: 50px;
}
/* CONTAINER TOTALE BOX */


/* INIZIO DELLE BOX */
/* TOP BOX */
.top-box{
   margin-top: 50px;
   height: 400px;
   background: #fff;
   border-radius: 15px;
   box-shadow: 0 0 11px #eaf0f6;
}

/* LEFT PART */
.img-a-container{
   padding-top: 90px;
   margin-left: 150px;
   max-width: 180px;
}

.h1-p > p {
   padding-bottom: 15px;
}
/* LEFT PART */

/* RIGHT PART */
.right-total-container{
   margin-left: 100px;
   height:200px;
   width: 55%;
}
.right-total-container > .h1-p > h1 {
   margin: 0 0;
   font-size: 27px;
   weight: 800;
   padding-bottom: 40px;
}
.right-total-container > .h1-p > p{
   margin: 0 0;
   font-size: 16px;
}

/* CONTAINER PFEATURE-SPUNTE */
.pfeature-spunte{
   width: 100%;

}
.pfeature{
   width: 100%;
   margin: 10px 0;
   padding-bottom: 25px;
}

.pfeature > hr{
   border: none;
   float: right;
   width: 65%;
   height: 2px;
   margin: 10px 0;
   background-color: #35485c;
}

.pfeature > h4{
   color: #35485c;
   font-weight: bolder;
}

.spunte{
   width: 100%;
}

.spunte > ul > li > span {
   color: #35485c;
   font-weight: bolder;
   margin: 0 15px;
}

.spunte > ul > li > i{
   color:#ff7a59;
}
/* CONTAINER PFEATURE-SPUNTE */
/* RIGHT PART */
/* TOP BOX */





/* LEFT, CENTRAL, RIGHT BOX */
/* regole per le 3 box in comune */
.b{
   width: calc(85% / 3);
   margin: 50px 30px;
   background: #fff;
   border-radius: 15px;
   box-shadow: 0 0 11px #eaf0f6
}
/* regole per le 3 box in comune */


/* LEFT, CENTRAL, RIGHT BOX */

/* LEFT BOX */
/* TITLE DESCR CONTAINER */
.title-descr-c{
   width: 100%;
   min-height: 300px;
}
/* TITLE DESCR CONTAINER */


/* TITLE CONTAINER */
.title-c{
   width: 100%;
   min-height: 50%;
}
.title-c > h1{
   font-size: 25px;
   margin: 0px 86px;
}


.set-box-img{
   margin: 20px 88px;
}
.set-box-h1{
   margin: 0px 87px;
   font-size: 25px;
}
.set-box-h2{
   font-size: 18px;
   weight: 50;
   margin-left: 87px;
}

.total-pf-2 > ul > li > i {
   color:#ff7a59;
   margin: 0 18px;
   margin-left: 25px;
}

.set-box-p{
   font-size: 15px;
   color: #35485c;
   weight: 50;
   text-align: center;
   margin-top: 35px;
   margin-bottom: 75px;
   padding: 0 35px;
}
/* TITLE CONTAINER */


/* DESCR CONTAINER */
.descr-c{
   width: 100%;
   min-height: 50%;

}
/* DESCR CONTAINER */

/*  total container popular features, ul e learn more */
.total-pf-2{
   min-height:100px;
   width:100%;
}

.learn-more > .gethubspotfree-two > a{
   padding: 15px 25px;
   margin-left: 100px;
   margin-bottom: 15px;
}
/*  total container popular features, ul e learn more */


/* LEFT BOX */


/* FINE DELLE BOX */






/* FINE SECONDO BLOCCO */









/* INIZIO TERZO BLOCCO */


/* inizio container del titolo e descrizione */
.container-title-descr{
   padding-top: 3.5%;
   margin-bottom: 50px;
   /* debug */
   min-height: 250px;
   background-color: green;
   /* debug */
}
/* fine container del titolo e descrizione */

/* container titolo */
.container-title{
   width: 90%;
   /* debug */
   min-height: 125px;
   background-color: lightgreen;
   /* debug */
}
/* container titolo */


/* container descrizione */
.container-descr{
   margin-top: 35px;
   /* debug */
   min-height:125px;
   background-color: lightyellow;
   /* debug */
}
/* container descrizione */





/* INIZIO GRIGLIA */
/* CONTAINER TOTALE GRIGLIA */
.grid-total-container{
   padding-bottom: 6%;
   margin-bottom: 75px;
   /* debug */
   height: 350px;
   /* debug */
}
/* CONTAINER TOTALE GRIGLIA */

.container-row{
   width: 100%;
   float: left;
   /* debug */
   height: 50%;
   background-color: gray;
   /* debug */
}


/* row 1-2 */
.b-r1, .b-r2{
   float:left;
   background-color: #00b9a9;
   width: calc(100% / 4);
   /* debug */
   height: 100%;

   /* debug */
}
/* row 1-2 */
/* (LE REGOLE PER I BORDI SI TROVANO ALL'INIZIO) */










/* FINE GRIGLIA */

/* FINE TERZO BLOCCO */



/* INIZIO QUARTO BLOCCO */

/* INIZIO PRIMO DOUBLE CONTAINER */
.total-double-partners-descrip-container{
   margin-top: 50px;
   margin-bottom: 65px;
   /* debug */
   min-height: 400px;
   /* debug */

}

/* descrip */
.container-descrip{
   margin-bottom: 7%;
   margin-left: 8%;

   /* debug */
   width: 18%;
   border: 1px solid black;
   min-height: 150px;
   /* debug */
}
/* descrip */


/* partners */
.container-partners{
   margin-left: 12%;
   width: 48%;
   /* debug */
   border: 1px solid black;
   min-height: 120px;
   /* debug */
}
/* partners */
/* FINE DOUBLE CONTAINER */

/* INIZIO SECONDO DOUBLE CONTAINER */
.double-container-box-left-right{
   margin-top: 50px;
   margin-bottom: 65px;
   /* debug */
   min-height: 400px;
   /* debug */
}

.container-box-left{
   width: 35%;
   /* debug */
   border: 1px solid black;
   min-height: 355px;
   /* debug */
}

.container-box-right{
   float: right;
   width: 40%;
   margin-left: 15%;
   /* debug */
   border: 1px solid black;
   min-height: 350px;
   /* debug */
}


/* FINE SECONDO DOUBLE CONTAINER */




/* FINE QUARTO BLOCCO */







/* INIZIO QUINTO BLOCCO */



/* CONTAINER TOTALE BOXES */
.total-first-footerbox-container{
   padding-top: 3.5%;
   /* debug */
   min-height: 200px;
   /* debug */
}
/* CONTAINER TOTALE BOXES */

/* BOXES */
.footer-box{
   float: left;
   width: calc((100% / 4) - 2%);
   margin-right: 2%;
   margin-bottom: 8%;
   /* debug */
   min-height: 300px;
   background-color: lightblue;
   /* debug */
}
#social-icons{
   /* debug */
   min-height: 50px;
   border: 1px solid orange;
   /* debug */
}
/* FINE BOXES */


/* INIZIO PARTE FINALE FOOTER */
.final-total-footerpart{
   /* debug */
   min-height: 150px;
   border: 1px solid green;
   background-color: lightblue;
   /* debug */
}

/* LANGUAGES */
#languages{
   margin-bottom: 3%;
   text-align: center;
   border-bottom: 1px solid white;
   /* debug */
   min-height: 45px;
   /* debug */
}
/* LANGUAGES */

/* CREDITS */
#credits{
   width: 100%;
   /* debug */
   min-height: 120px;
   border:1px solid red;
   /* debug */
}
/* CREDITS */

#left-footer{
   width: 20%;
   float: left;
   /* debug */
   min-height: 120px;
   border:2px solid yellow;
   /* debug */
}
#right-footer{
   width: 19%;
   float:right;
   /* debug */
   min-height: 120px;
   border:2px solid pink;
   /* debug */
}
/* FINE PARTE FINALE FOOTER */





/* FINE QUINTO BLOCCO */
